@font-face {
    src: url('CursedTimerUlil-Aznm.ttf') format('truetype');
    font-family: "NewFont";
  }

body {
    margin: auto;
    width: 575px;
    height: 385px;
    background-image: url(background7.jpg);
    background-size: cover;
}

h1 {
    text-align: center;
    margin: 50px 0 0;
    border: 12px double black;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(26,151,163,1) 100%);
}

#spurs-img {
    height: 150px;
}

h2 {
    color: #F94F6D;
    text-align: center;
    font-size: 90px;
    font-weight: 400;
    font-family: 'NewFont';
    src: url('CursedTimerUlil-Aznm.ttf') format('truetype');
    line-height: 126.666px;
    background-color: black;
    width: 155px;
    border-radius: 5px;
    margin: 26px;
}

h3 {
    color: #EEE;
    font-family: Verdana;
    font-size: 40px;
    font-weight: 700;
    margin: 20 0;
    text-shadow: 2px 1px black;
    
}

.scoreboard {
    border: 12px double black;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(26,151,163,1) 100%);
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 0 0 20;
    text-align: center;
}

button {
    border-radius: 5px;
    border: 3px solid black;
    font-family: 'NewFont';
    margin: 0 2px;
    padding: 3px 8px;
}

.button-container {
    text-align: center;
}

.reset-button {
    margin: 20px auto;
    display: flex;
    font-size: 30px;
    color: green;
    padding: 6px 12px;
}

.higher-score {
    color: green;
}

.foul-text {
    color: #ff3000;
    font-size: 20;
}

.period-text {
    color: grey;
    font-size: 22;
}

#period-el, #foul-guest-el, #foul-home-el {
    color: black;
    font-size: 20;
}